{% extends 'apps/apptemplate.html' %}
{% block title %}Install App{% endblock %}

{% block configpage %}

<script language="javascript" type="text/javascript" src="/static/jquery-1.4.4.min.js"></script>
<script language="JavaScript">

var packagename = '{{ packagename }}';

function installapp() {
$('#button').hide();
$('#installstatus').html('Installing ' + packagename);
$('#loader').show();
$.ajax({
        method: 'POST',
        cache: false,
        url : '/api/install/' + packagename,
        dataType : 'json',
        success: function (json) { 
			var returnlist = json;
			if (returnlist) {
				$('#loader').hide();
				$('#installstatus').html('');
				var content;
				$.each(returnlist, function(i,line){
					content += '<b>' + line + '</b><br/>';
					$(content).appendTo("#installstatus");
					content = '';
				});
				$('#alldone').show();
            }
            else {
				$('#loader').hide();
                $('#installstatus').html("Failed communication with plug"); 
            }
			
		}
});

}

</script>
<div id="configpage"><!-- configpage -->
<h2>Install package</h2>
<div id="leftpanel">
<div id="header">
<div>Install package</div>
</div><!-- header -->
<div id="displayarea">
<div id="installstatus">
<p>Are you sure you want to install {{ packagename }}?</p>
<br/>
<input 
	   id="button"
	   type="button"
       value="Yes"
       style="color: #333;
       padding: 5px;
       font-family: Georgia, ..., serif;
       font-size: 18px;
       letter-spacing: 2px;"
       onclick="
       installapp();
		"/>
</div><!-- installstatus -->
<div style="margin:0 auto;text-align:center;display:none;" id="loader"><img src="/static/images/loader.gif"/></div>
<div style="display:none;text-align:center;" id="alldone">
<p>All done!</p>
<input 
	   id="close"
	   type="button"
       value="Close"
       style="color: #333;
       padding: 5px;
       font-family: Georgia, ..., serif;
       font-size: 18px;
       letter-spacing: 2px;"
       onclick="
       window.close();
		"/>
</div><!-- alldone -->
</div><!-- displayarea -->
</div><!-- leftpanel -->
<div id="rightpanel">
<div id="header">

</div><!-- header -->
<div id="attributes">

</div><!-- attributes -->
</div><!-- rightpanel -->
<div style="clear:both;"></div>
</div><!-- configpage -->
{% endblock %}