#error {
    display:none;
}

html {
    background: #F1F1F1 url("/static/images/wrap_noise_bck.jpg") repeat;
    text-shadow: 0px 1px 0px #fff;
	
}

* {
	font-family:Helvetica !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selectable {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-o-user-select: text;
user-select: text;
}

body {
    background:none;
    text-rendering: optimizeLegibility;

}

.container {
	position: initial;
}

#overlay { 
	position:absolute; 
	top:0; 

	left:0; 

	width:100%; 
	z-index:100; 
	background: rgba(0,0,0,0.3); 
	display:none; 
	text-align:left; 
}  

#dropbox {
	border:5px dotted #ccc;
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;	
	text-align:center;
	font-size:14px;
	font-weight:bold;

	

	height:64px;
	
	color: #787878;
	text-shadow: 0px 1px 0px white;
	
}

#dropbox .message {
	margin-top:20px;
}

.greybox {
	width:300px; 
	height:236px; 
	z-index:200; 
	border:5px solid #222; 
	background: #FFF; 
	padding-top:12px;
	-moz-box-shadow:	0px 1px 3px #565656 ,	inset 0px 1px 0px rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 1px 3px #565656 ,	inset 0px 1px 0px rgba(255, 255, 255, 0.9);
    box-shadow:			0px 1px 3px #565656 ,	inset 0px 1px 0px rgba(255, 255, 255, 0.9);
	
	
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background: -moz-linear-gradient(top, #DDD, #BBB);
    background: -o-linear-gradient(top, #DDD, #BBB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#bbbbbb);
	
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #e0e0e0;

}
  
.msgbox * {
	margin-left:12px;
	margin-right:12px;
}

.msgbox { 
	position:absolute; 
	
	top: 50%; 
	left: 50%; 
	margin-top: -100px; 
	margin-left: -150px; 
	
	
}  


#content_area {
	padding-bottom:48px;
	
}

#package-list {
	max-height:500px;
	min-height:150px;
	height:auto;
	overflow-y:scroll;
	overflow-x:hidden;
	
	
}

#package-controls {
	float:right;
	display:inline-block;
}

#package-controls span {
	height:24px;
	display:inline-block;
	padding:0 6px;
	cursor:pointer;
}

.whitebox {
	position:relative;
	margin-top:12px;
	margin-bottom:12px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
    
	word-wrap: break-word;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:	0px 1px 4px rgba(0, 0, 0, 0.7);
	box-shadow:			0px 1px 4px rgba(0, 0, 0, 0.7);
    
	
	
    background:#FCFCFC;
	

	color: #333;
	font-weight: bold;
	padding: 6px 15px 4px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;

}

.whitebox input {

color: #000;
font-weight: normal;
padding: 2px 0px 0px 0px;
margin-bottom:0px;
border:none;
background:none;
width:100%;

}

.whitebox input:focus {
		border: none;
 		color: #444;
 		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow:  none;
		
		
}

.user-item {
	color:#333;
	font-weight:bold;
	margin-top:12px;
	height:32px;
}

.user-item span {
	display:inline-block;
	height:32px;
	line-height: 30px;
}

.userdelete-button {
	height:32px;
	float:right;
	margin-bottom:0px !important;
}

#clear,
.clear {
	clear:both;
}

img#pageloader {
	width:20px;
	height:20px;
    display:none;
    position:absolute;
	left:132px;
	top:74px;
}

.indent {
	padding:12px;
}

.etch {
	height:0px;
	display:block;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ccc;
}


.ui-panel {
    
    height:42px;
    
    padding:0;
    display:block;
    list-style:none;

}

#adminbar.top {
	position:relative;
    top:0px;
    left:0px;
    right:0px;
	margin:0px 0px 48px 0px;
}

#notificationbar.bottom {
	position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
	margin:48px 0px 0px 0px;
}

#adminbar div.inset {
    margin:0;
	padding-left:0px;
	padding-top:6px;
	padding-right:0px;
	height:42px;
	display:block;
	background: url(/static/images/bg_body.jpg);
	-moz-box-shadow: 0px 1px 1px #fff , inset 0px 1px 2px #000);
    -webkit-box-shadow: 0px 1px 1px #fff, inset 0px 1px 2px #000;
    box-shadow: 0px 1px 1px #fff, inset 0px 1px 2px #000;
	height:42px;
	width:100%;
	
	display:none;
	
}

#adminbar div.inset ul li {
    float:left;
    height:42px;
	width:48px;

	position:relative;
	margin-bottom:0px;	

}

.ui-panel ul.gradient  {
    margin:0;
	padding-left:0px;
	padding-right:0px;
	height:42px;
	display:block;
    -moz-box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 2px #565656, inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background: -moz-linear-gradient(top, #DDD, #BBB);
    background: -o-linear-gradient(top, #DDD, #BBB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#bbbbbb);
}


.ui-panel ul.gradient li {
    float:left;
    height:42px;
	width:48px;
    /*border-right: 1px solid #bbb;*/
	position:relative;
	margin-bottom:0px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background: -moz-linear-gradient(top, #DDD, #BBB);
    background: -o-linear-gradient(top, #DDD, #BBB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#bbbbbb);
	
	border-left: #F4F5F6 1px solid;
	border-right: #9BA5AE 1px solid;
}

.ui-panel ul.gradient li.first {
	border-left: #F4F5F6 1px solid; 
	border-right: #9BA5AE 1px solid;
}

.ui-panel ul.gradient li.last {
	border-left: #F4F5F6 1px solid;
	border-right:none;
}

.ui-panel ul.gradient li#logo {
	width: auto;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:bold;
}

.ui-panel ul.gradient li.selected {
	margin-left: 1px;
	border-left: none;
	-moz-box-shadow: inset 0px 1px 3px #333;
	-webkit-box-shadow: inset 0px 1px 3px #333;
	box-shadow: inset 0px 1px 3px #333;
	
	
	background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
	background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#B0B0B0));
	background: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
	background: -o-linear-gradient(top, #D0D0D0, #B0B0B0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d0d0d0, endColorstr=#b0b0b0);
}

.ui-panel ul.gradient li.adminbutton {
	cursor:pointer;
}

.ui-panel ul.gradient li#controlbutton {
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}



.ui-panel ul.gradient li#controlbutton:active {
	top:1px;
}

.ui-panel ul.gradient li#controlbutton-before {
	border-right: #9BA5AE 1px solid;
	border-left:none;
	width:1px;
	position:absolute;
	top:0;
	right:50px;
}




.ui-panel ul.gradient li#userbutton {
	width:48px;
	text-align:center;
	cursor:pointer;
	
}

.ui-panel ul.gradient li#userbutton #user-icon {
	padding-top: 11px;
	padding-left: 2px;	
	opacity:0.5;
}


.ui-panel ul.gradient li#userbutton:active {
	top:1px;
}

.ui-panel ul.gradient li.last {
	border-left: #F4F5F6 1px solid;
	border-right:none;
}

.ui-panel ul.gradient li:active {
	position:relative;
	top:1px;
	
	
}

.ui-panel ul.gradient li.selected a span {
	color:#000;
	text-shadow:0 1px 0 #fff;
}

.ui-panel ul.gradient li a,
.ui-panel ul.gradient li a:visited {
    
    height:100%;
    width:100%;
    display:inline-block;
    color:#787878;
    text-shadow:0px 1px 0px #fff;  
	cursor:default
}

.ui-panel ul.gradient li a:hover {
    color:#898989;
    
}
.ui-panel ul.gradient li a span {
    font-size:1.0em;
    font-weight:bold;
    padding-top:6px;
	padding-bottom:6px;

    display:inline-block;
	opacity:0.5;
}

.ui-panel ul.gradient li a span#home-icon {
	padding-left:12px;
    padding-top:9px;
}

.ui-panel ul.gradient li a span#dashboard-icon {
	padding-left:10px;
    padding-top:7px;
}
.ui-panel ul.gradient li a span#posts-icon {
	padding-left:12px;
	padding-top:12px;
}
.ui-panel ul.gradient li a span#files-icon {
	padding-left:14px;
    padding-top:8px;
}
.ui-panel ul.gradient li a span#tickets-icon {
	padding-left:12px;
    padding-top:9px;
}
.ui-panel ul.gradient li a span#settings-icon {
	padding-left:11px;
	padding-top:8px;
}
.ui-panel ul.gradient li a span#logs-icon {
	padding-left:12px;
	padding-top:12px;

}

.ui-panel ul.gradient li a span#packages-icon {
	padding-left:12px;
	padding-top:8px;

}


.ui-panel ul.gradient li a span#music-icon {
	padding-left:16px;
	padding-top:8px;
	

}

/* dashboard */

#logwindow {
	margin-bottom:40px;
    margin-top:36px;
}

#logwindow ul {
	margin: 10px 0px;
    padding-left:12px;
    padding-right:12px;
}

#logwindow ul li.logline {
    padding:12px 6px;
    clear:both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #e0e0e0;
    
}

#logwindow ul li.logline div.logdate {
   
    display:inline-block;
}


#logwindow ul li.logline div.logcontent {

    display:inline-block;
}

.statusbox {
	position:relative;
    min-height:145px;
    margin-bottom:12px;
    margin-top:12px;
}

.statusbox .title-button {
	position:absolute;
	top:0px;
	right:0px;
}

.statusbox span.text {
    color:#000;
	text-shadow:0px 1px 0px #fff;
    position:absolute;
    top:-25px;
    left:12px;
	background:none;
	font-size:1.1em;
}

div.statusbox div.stat-list {
	margin-bottom:12px;
	margin-top:12px;
	background:  #fcfcfc;
	
	color: #333;
	font-weight:bold;
    padding: 6px 15px 4px 15px;

    
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
}

div.statusbox div.stat-list span.value {
	float:right;
	color:000;
	font-weight:normal;
}

#packagegrid {
	height:500px;
}














div.authpanel {

    width: 275px;
	height: 200px;
	top: 72px;
	left: 12px;
	position: absolute;
	padding-top:12px;
	padding-bottom:12px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #ccc;
	
	background:# eaeaea;
	
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:	0px 1px 4px rgba(0, 0, 0, 0.7);
	box-shadow:			0px 1px 4px rgba(0, 0, 0, 0.7);
	
}

div.authpanel div,
div.authpanel h4,
div.authpanel button {
	margin-left:12px;
	margin-right:12px;
}














/* shell page */

#runloader {
	float:right;
	margin:0;
}

form#runcommand {
	display:inline;
	margin-left:12px;
	margin-right:12px;
	margin-bottom:4px;
}

form#runcommand #commandbox {
	width:400px;
}

form#runcommand #error {

}

#terminal {
	background:#333;
	color:#fff;
	min-height:300px;
	border:1px dotted #666;
	padding-top:12px;
	padding-left:12px;
	padding-right:6px;
	padding-bottom:6px;
}

/* storage page elements */

span.device-stats {
display: inline-block;
}

.plot-area {
float:right;
}

div.jqplot-yaxis {
width:100px;
}

div.jqplot-target {
	width:400px !important;
	height:300px !important;
	right:40px !important;
}

#displayarea {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #ccc;
	padding-bottom:12px;
	margin-bottom:24px;
}

#displayarea div.device-row {
	height:38px;
	font-size:12px;
}

#displayarea div.odd {
	background:#fff;
}

#displayarea div.even {
	background:#efefef;
}

#displayarea div.device-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	height:24px;
	float:left;
}

#displayarea div.mountpoint,
#displayarea div.device-row div.mountpoint {
	width:120px;
}

#displayarea div.devicename,
#displayarea div.device-row div.devicename {
	width:120px;
}

#displayarea div.filesystem,
#displayarea div.device-row div.filesystem {
	width:70px;
}

#displayarea div.spaceused,
#displayarea div.device-row div.spaceused {
	width:90px;
}

#displayarea div.spacefree,
#displayarea div.device-row div.spacefree {
	width:90px;
}




/* system config pages */

div.boxheader {
	text-shadow:rgba(255, 255, 255, 0.8) 0 1px 0;
	background: #D9D9D9;
	background: -moz-linear-gradient(bottom,#D7D7D7,#E4E4E4);
	background: -webkit-gradient(linear,left bottom,left top,from(#D7D7D7),to(#E4E4E4));
	height:20px !important;
	padding-top: 6px;
	padding-left:12px;
	font-size: 12px;
	font-weight:bold;
	border-bottom: #C6C6C6 1px solid;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
}

div.boxheader div {
	float:left;
	height:20px;
	font-weight:bold;
}


{
      margin-bottom:24px;
	  position:relative;
}

#currentpath {
	min-height:1.2em;
	font-family:monospace;
	font-weight:normal;
	letter-spacing: 0.1em;
}


#rightpanel {

}






div#displayarea,
#homepage #widget #displayarea {
	background:#fff;
	
	min-height:150px;
    font-size:12px;
}

#rightpanel #attributes {

}

#rightpanel #attributes div a {
    text-decoration:underline;
}

#rightpanel .panelattributename {
	color:#333;
	font-size:12px;
	font-weight:bold;
	margin-bottom:4px;
}

#rightpanel .panelattribute {
	float:right;
	color:#333;
	font-size:12px;
	font-weight:normal;
	white-space: wrap;
	margin-bottom:12px;
	
}

#rightpanel #downloadlink a,
#rightpanel #downloadlink a:hover,
#rightpanel #downloadlink a:link,
#rightpanel #downloadlink a:visited {
	text-decoration:underline;
	color:blue;
}

#rightpanel #sharelink a,
#rightpanel #sharelink a:hover,
#rightpanel #sharelink a:link,
#rightpanel #sharelink a:visited {
	text-decoration:underline;
	color:blue;
}

#rightpanel #viewlink a,
#rightpanel #viewlink a:hover,
#rightpanel #viewlink a:link,
#rightpanel #viewlink a:visited {
	text-decoration:underline;
	color:blue;
}

#fileheader {
	border-bottom: 1px solid #CACACA;
}

#filelist {
	width:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	table-layout:fixed;
}

#filelist .line,
.line{
	color:#333;
	font-size:12px;
	font-weight:normal;
	height:32px;

	
}

.highlightRow {
	color:#fff !important;
	text-shadow:0 1px 0 #333;
	background: -webkit-gradient(linear, left top, left bottom, from( #3E8FFF   ), to(  #305FE6 ));
    background: -moz-linear-gradient(top, #3E8FFF, #305FE6);
    background: -o-linear-gradient(top, #3E8FFF), #305FE6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3E8FFF, endColorstr=#305FE6);
	
	
	-moz-box-shadow: 0px 1px 0px #fff , inset 0px 1px 0px #000);
    -webkit-box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #000;
    box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #000;

}

.highlightRow a {
	color:#333;
}

.fileheader {
	padding-left:12px !important;
}

#filelist .line .file-toolbar {
	vertical-align: middle;
	width:60px;
	margin:0;
}

#filelist .line .file-toolbar .file-toolbar-button {
	margin:0;
	padding:0;
	padding-left:6px;
	cursor:pointer;
}


#filelist .line .name {
	cursor: pointer;
	text-overflow: ellipsis;
	overflow:hidden;
	text-shadow:none !important;
	font-weight:bold;
	vertical-align: middle;
	word-break: break-all;
}

#filelist .line .name span {
	cursor: pointer;
	text-overflow: ellipsis;
	overflow:hidden;
	text-shadow:none !important;
	font-weight:bold;
	vertical-align: middle;
	word-break: break-all;
}

#filelist .line .name {
	text-decoration:none;	
}

#filelist .line .name a,
#filelist .line .name a:visited {
	height:100%;

	
}

#filelist .line .icon,
.fileheader .icon,
.icon {
	height:32px;
	width:32px;
}

#filelist .line #loader {
	position:relative;
	width:32px;
	height:32px;
	margin:0;
	top:0px;
	left:0px;
	
	
	-webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;	
}


/* custom styles for file icons */

#filelist .line .file { background: url(/static/images/file.png) 8px 7px no-repeat; }


/* Core Styles */
#filelist .line #loader { background: url(/static/images/loader.gif) top left no-repeat !important; }
#filelist .line .folder { background: url(/static/images/directory.png) 8px 7px no-repeat !important ;}
#filelist .line .expanded { background: url(/static/images/folder_open.png) 8px 7px no-repeat !important ;}

#filelist .line .wait { background: url(/static/images/spinner.gif) 8px 7px no-repeat !important; }
#filelist .line .parentdir { background: url(/static/images/parent.png) 8px 7px no-repeat !important; }

/* File Extensions*/
#filelist .line .3gp { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .afp { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .afpa { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .asp { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .aspx { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .avi { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .bat { background: url(/static/images/application.png) 8px 7px no-repeat !important; }
#filelist .line .bin { background: url(/static/images/application.png) 8px 7px no-repeat !important; }
#filelist .line .bmp { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .c { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .cfm { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .cgi { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .cmd { background: url(/static/images/application.png) 8px 7px no-repeat !important; }
#filelist .line .com { background: url(/static/images/application.png) 8px 7px no-repeat !important; }
#filelist .line .cpp { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .css { background: url(/static/images/css.png) 8px 7px no-repeat !important; }
#filelist .line .doc { background: url(/static/images/doc.png) 8px 7px no-repeat !important; }
#filelist .line .exe { background: url(/static/images/application.png) 8px 7px no-repeat !important; }
#filelist .line .gif { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .fla { background: url(/static/images/flash.png) 8px 7px no-repeat !important; }
#filelist .line .h { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .htm { background: url(/static/images/html.png) 8px 7px no-repeat !important; }
#filelist .line .html { background: url(/static/images/html.png) 8px 7px no-repeat !important; }
#filelist .line .jar { background: url(/static/images/java.png) 8px 7px no-repeat !important; }
#filelist .line .jpg { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .jpeg { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .js { background: url(/static/images/script.png) 8px 7px no-repeat !important; }
#filelist .line .lasso { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .log { background: url(/static/images/txt.png) 8px 7px no-repeat !important; }
#filelist .line .m4p { background: url(/static/images/music.png) 8px 7px no-repeat !important; }
#filelist .line .mov { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .mp3 { background: url(/static/images/play.png) 8px 7px no-repeat !important; }
#filelist .line .m4a { background: url(/static/images/play.png) 8px 7px no-repeat !important; }
#filelist .line .mp4 { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .mkv { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .m4v { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .mpg { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .mpeg { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .ogg { background: url(/static/images/play.png) 8px 7px no-repeat !important; }
#filelist .line .pcx { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .pdf { background: url(/static/images/pdf.png) 8px 7px no-repeat !important; }
#filelist .line .php { background: url(/static/images/php.png) 8px 7px no-repeat !important; }
#filelist .line .png { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .ppt { background: url(/static/images/ppt.png) 8px 7px no-repeat !important; }
#filelist .line .psd { background: url(/static/images/psd.png) 8px 7px no-repeat !important; }
#filelist .line .pl { background: url(/static/images/script.png) 8px 7px no-repeat !important; }
#filelist .line .py { background: url(/static/images/script.png) 8px 7px no-repeat !important; }
#filelist .line .rb { background: url(/static/images/ruby.png) 8px 7px no-repeat !important; }
#filelist .line .rbx { background: url(/static/images/ruby.png) 8px 7px no-repeat !important; }
#filelist .line .rhtml { background: url(/static/images/ruby.png) 8px 7px no-repeat !important; }
#filelist .line .rpm { background: url(/static/images/linux.png) 8px 7px no-repeat !important; }
#filelist .line .ruby { background: url(/static/images/ruby.png) 8px 7px no-repeat !important; }
#filelist .line .sh { background: url(/static/images/script.png) 8px 7px no-repeat !important; }
#filelist .line .sql { background: url(/static/images/db.png) 8px 7px no-repeat !important; }
#filelist .line .swf { background: url(/static/images/flash.png) 8px 7px no-repeat !important; }
#filelist .line .tif { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .tiff { background: url(/static/images/picture.png) 8px 7px no-repeat !important; }
#filelist .line .txt { background: url(/static/images/txt.png) 8px 7px no-repeat !important; }
#filelist .line .vb { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .wav { background: url(/static/images/music.png) 8px 7px no-repeat !important; }
#filelist .line .wmv { background: url(/static/images/film.png) 8px 7px no-repeat !important; }
#filelist .line .xls { background: url(/static/images/xls.png) 8px 7px no-repeat !important; }
#filelist .line .xml { background: url(/static/images/code.png) 8px 7px no-repeat !important; }
#filelist .line .zip { background: url(/static/images/zip.png) 8px 7px no-repeat !important; }
#filelist .line .tar { background: url(/static/images/zip.png) 8px 7px no-repeat !important; }
#filelist .line .bz2 { background: url(/static/images/zip.png) 8px 7px no-repeat !important; }
#filelist .line .gz { background: url(/static/images/zip.png) 8px 7px no-repeat !important; }


/* user list */

div.user-row {
	height:34px;
	font-size:12px;
}

div.odd {
	background:#fff;
}

div.even {
	background:#efefef;
}

div.user-header div {
	height:20px;
	float:left;
}

div.user-row div {
	height:24px;
	float:left;
}



div.user-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

div.user-header div.username {
	width:90px;
}

div.user-header div.useremail {

	width:90px;
}

div.user-header div.usergroup,

	width:90px;
}

div.user-header div.useractive,
#displayarea div.user-row div.useractive,
div.user-header div.userupload,
#displayarea div.user-row div.userupload,
div.user-header div.userdownload,
#displayarea div.user-row div.userdownload,
div.user-header div.userdelete,
#displayarea div.user-row div.userdelete {
	width:60px;
}

#displayarea div.user-row div.userdelete {
	padding-top:6px;
}









/* share list */

#displayarea div.share-row {
	height:38px;
	font-size:12px;
}

#displayarea div.odd {
	background:#fff;
}

#displayarea div.even {
	background:#efefef;
}

#displayarea div.share-row div {
	height:20px;
	float:left;
}

#displayarea div.share-row div {
	height:24px;
	float:left;
}

#displayarea div.share-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

div.share-header div#sharename,
#displayarea div.share-row div.sharename {
	width:300px;
}

div.share-header div#publicurl,
#displayarea div.share-row div.publicurl {
	width:90px;
}

div.share-header div#directurl,
#displayarea div.share-row div.directurl {
	width:90px;
}

#displayarea div.share-row div.sharedelete {
	padding-top:6px;
}

