#error {
    display:none;
}

html {
    background: #F1F1F1 url("/static/images/wrap_noise_bck.jpg") repeat;
    text-shadow: 0px 1px 0px #fff;
	
}

* {
	font-family:Helvetica !important;
}

body {
    background:none;
    text-rendering: optimizeLegibility;

}


#content_area {
	
	
}


#clear,
.clear {
	clear:both;
}

img#pageloader {
	width:20px;
	height:20px;
    display:none;
    position:absolute;
	left:132px;
	top:74px;
}

.indent {
	padding:12px;
}

.etch {
	height:0px;
	display:block;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ccc;

}


#adminbar {
    position:relative;
    top:0px;
    left:0px;
    right:0px;
    height:42px;
    margin:0px 0px 48px 0px;
    padding:0;
    display:block;
    list-style:none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#adminbar ul.inset {
    margin:0;
	padding-left:0px;
	padding-top:6px;
	padding-right:0px;
	height:42px;
	display:block;
	background: url(/static/images/bg_body.jpg);
	-moz-box-shadow: 0px 1px 1px #fff , inset 0px 1px 2px #000);
    -webkit-box-shadow: 0px 1px 1px #fff, inset 0px 1px 2px #000;
    box-shadow: 0px 1px 1px #fff, inset 0px 1px 2px #000;
	height:42px;
	width:100%;
	
	display:none;
	
}

#adminbar ul.inset li {
    float:left;
    height:42px;
	width:48px;

	position:relative;
	margin-bottom:0px;	

}

#adminbar ul.gradient  {
    margin:0;
	padding-left:0px;
	padding-right:0px;
	height:42px;
	display:block;
    -moz-box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 2px #565656, inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 2px #565656 , inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background: -moz-linear-gradient(top, #DDD, #BBB);
    background: -o-linear-gradient(top, #DDD, #BBB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#bbbbbb);
}


#adminbar ul.gradient li {
    float:left;
    height:42px;
	width:48px;
    /*border-right: 1px solid #bbb;*/
	position:relative;
	margin-bottom:0px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
	
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
    background: -moz-linear-gradient(top, #DDD, #BBB);
    background: -o-linear-gradient(top, #DDD, #BBB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dddddd, endColorstr=#bbbbbb);
	
	border-left: #F4F5F6 1px solid;
	border-right: #9BA5AE 1px solid;
}

#adminbar ul.gradient li.first {
	border-left:none;
	border-right: #9BA5AE 1px solid;
}

#adminbar ul.gradient li.last {
	border-left: #F4F5F6 1px solid;
	border-right:none;
}

#adminbar ul.gradient li#logo {
	width: auto;
	padding-left: 12px;
	padding-right: 12px;
	font-weight:bold;
}

#adminbar ul.gradient li.selected {
	margin-left: 1px;
	border-left: none;
	-moz-box-shadow: inset 0px 1px 3px #333;
	-webkit-box-shadow: inset 0px 1px 3px #333;
	box-shadow: inset 0px 1px 3px #333;
	
	
	background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#BBB));
	background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#B0B0B0));
	background: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
	background: -o-linear-gradient(top, #D0D0D0, #B0B0B0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d0d0d0, endColorstr=#b0b0b0);
}

#adminbar ul.gradient li#controlbutton {
	position:absolute;
	top:0;
	right:0;
}



#adminbar ul.gradient li#controlbutton:active {
	top:1px;
}

#adminbar ul.gradient li#controlbutton-before {
	border-right: #9BA5AE 1px solid;
	border-left:none;
	width:1px;
	position:absolute;
	top:0;
	right:50px;
}

#adminbar ul.gradient li.last {
	border-left: #F4F5F6 1px solid;
	border-right:none;
}

#adminbar ul.gradient li:active {
	position:relative;
	top:1px;
}

#adminbar ul.gradient li.selected a span {
	color:#000;
	text-shadow:0 1px 0 #fff;
}

#adminbar ul.gradient li a,
#adminbar ul.gradient li a:visited {
    
    height:100%;
    width:100%;
    display:inline-block;
    color:#787878;
    text-shadow:0px 1px 0px #fff;  
	cursor:default
}

#adminbar ul.gradient li a:hover {
    color:#898989;
    
}
#adminbar ul.gradient li a span {
    font-size:1.0em;
    font-weight:bold;
    padding-top:6px;
	padding-bottom:6px;

    display:inline-block;
	opacity:0.5;
}

#adminbar ul.gradient li a span#home-icon {
	padding-left:12px;
    padding-top:9px;
}

#adminbar ul.gradient li a span#dashboard-icon {
	padding-left:10px;
    padding-top:7px;
}
#adminbar ul.gradient li a span#posts-icon {
	padding-left:12px;
	padding-top:12px;
}
#adminbar ul.gradient li a span#files-icon {
	padding-left:14px;
    padding-top:8px;
}
#adminbar ul.gradient li a span#tickets-icon {
	padding-left:12px;
    padding-top:9px;
}
#adminbar ul.gradient li a span#settings-icon {
	padding-left:11px;
	padding-top:8px;
}
#adminbar ul.gradient li a span#logs-icon {
	padding-left:12px;
	padding-top:12px;

}

#adminbar ul.gradient li a span#packages-icon {
	padding-left:12px;
	padding-top:8px;

}


#adminbar ul.gradient li a span#music-icon {
	padding-left:16px;
	padding-top:8px;
	

}

/* dashboard */

#logwindow {
	margin-bottom:40px;
    margin-top:36px;
}

#logwindow ul {
	margin: 10px 0px;
    padding-left:12px;
    padding-right:12px;
}

#logwindow ul li.logline {
    padding:12px 6px;
    clear:both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #e0e0e0;
    
}

#logwindow ul li.logline div.logdate {
   
    display:inline-block;
}


#logwindow ul li.logline div.logcontent {

    display:inline-block;
}

.statusbox {
	position:relative;
    min-height:145px;
    margin-bottom:12px;
    margin-top:12px;
}

.statusbox span.text {
    color:#000;
	text-shadow:0px 1px 0px #fff;
    position:absolute;
    top:-25px;
    left:12px;
	background:none;
	font-size:1.1em;
}

div.statusbox div.stat-list {
	margin-bottom:12px;
	margin-top:12px;
	background:  #fcfcfc;
	
	color: #333;
	font-weight:bold;
    padding: 6px 15px 4px 15px;

    
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	
	
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) inset;
}

div.statusbox div.stat-list span.value {
	float:right;
	color:000;
	font-weight:normal;
}

#packagegrid {
	height:500px;
}





























/* shell page */

#runloader {
	float:right;
	margin:0;
}

form#runcommand {
	display:inline;
	margin-left:12px;
	margin-right:12px;
	margin-bottom:4px;
}

form#runcommand #commandbox {
	width:400px;
}

form#runcommand #error {

}

#terminal {
	background:#333;
	color:#fff;
	min-height:300px;
	border:1px dotted #666;
	padding-top:12px;
	padding-left:12px;
	padding-right:6px;
	padding-bottom:6px;
}

/* storage page elements */

span.device-stats {
display: inline-block;
}

.plot-area {
float:right;
}

div.jqplot-yaxis {
width:100px;
}

div.jqplot-target {
	width:400px !important;
	height:300px !important;
	right:40px !important;
}

#displayarea {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #ccc;
}

#displayarea div.device-row {
	height:38px;
	font-size:12px;
}

#displayarea div.odd {
	background:#fff;
}

#displayarea div.even {
	background:#efefef;
}

#displayarea div.device-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	height:24px;
	float:left;
}

#displayarea div.mountpoint,
#displayarea div.device-row div.mountpoint {
	width:120px;
}

#displayarea div.devicename,
#displayarea div.device-row div.devicename {
	width:120px;
}

#displayarea div.filesystem,
#displayarea div.device-row div.filesystem {
	width:70px;
}

#displayarea div.spaceused,
#displayarea div.device-row div.spaceused {
	width:90px;
}

#displayarea div.spacefree,
#displayarea div.device-row div.spacefree {
	width:90px;
}




/* system config pages */

div.boxheader {
	text-shadow:rgba(255, 255, 255, 0.8) 0 1px 0;
	background: #D9D9D9;
	background: -moz-linear-gradient(bottom,#D7D7D7,#E4E4E4);
	background: -webkit-gradient(linear,left bottom,left top,from(#D7D7D7),to(#E4E4E4));
	height:20px !important;
	padding-top: 6px;
	padding-left:12px;
	font-size: 12px;
	font-weight:bold;
	border-bottom: #C6C6C6 1px solid;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
}

div.boxheader div {
	float:left;
	height:20px;
	font-weight:bold;
}


{
      margin-bottom:24px;
	  position:relative;
}

#currentpath {
	min-height:1.2em;
	font-family:monospace;
	font-weight:normal;
}


#rightpanel {

}






div#displayarea,
#homepage #widget #displayarea {
	background:#fff;
	
	min-height:150px;
    font-size:12px;
}

#rightpanel #attributes {

}

#rightpanel #attributes div a {
    text-decoration:underline;
}

#rightpanel .panelattributename {
	color:#333;
	font-size:12px;
	font-weight:bold;
	margin-bottom:4px;
}

#rightpanel .panelattribute {
	float:right;
	color:#333;
	font-size:12px;
	font-weight:normal;
	white-space: wrap;
	margin-bottom:12px;
	
}

#rightpanel #downloadlink a,
#rightpanel #downloadlink a:hover,
#rightpanel #downloadlink a:link,
#rightpanel #downloadlink a:visited {
	text-decoration:underline;
	color:blue;
}

#rightpanel #sharelink a,
#rightpanel #sharelink a:hover,
#rightpanel #sharelink a:link,
#rightpanel #sharelink a:visited {
	text-decoration:underline;
	color:blue;
}

#rightpanel #viewlink a,
#rightpanel #viewlink a:hover,
#rightpanel #viewlink a:link,
#rightpanel #viewlink a:visited {
	text-decoration:underline;
	color:blue;
}

#filelist .line,
.line{
	color:#333;
	font-size:12px;
	font-weight:normal;
	height:20px;
	padding-top:4px;
	padding-left:12px;
	clear:both;
	
}

#filelist .line .file-toolbar {
	display:inline-block;
	list-style:none;
	float:right;
	width:60px;
	margin:0;
	
}

#filelist .line .file-toolbar li {
	line-height:12px;
	margin:0;
	padding:0;
	float:left;
	padding-left:6px;
	
}

.highlightRow {
	background:#eaeaea;
	color:#333;
}

.highlightRow a {
	color:#333;
}

.fileheader {
	padding-left:12px !important;
}

#filelist div {

}

div.name {
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	
	padding-left:12px;
	z-index:100;
}


#filelist .line .name {
	float:left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	
	padding-left:12px;
	z-index:100;
}

#filelist .line .name {
	text-decoration:none;
	
}


#filelist .line .icon,
.fileheader .icon,
.icon {
	float:left;
	width:20px;
	height:20px;
}

.icon #loader {
	position:relative;
	width:20px;
	height:20px;
	margin:0;
	top:0px;
	left:0px;
}


/* custom styles for file icons */

#filelist .line #icon { background: url(/static/images/txt.png) left top no-repeat; }


/* Core Styles */
#filelist .line div.directory { background: url(/static/images/directory.png) left top no-repeat !important ;}
#filelist .line div.expanded { background: url(/static/images/folder_open.png) left top no-repeat !important ;}
#filelist .line div.file { background: url(/static/images/file.png) left top no-repeat !important;}
#filelist .line div.wait { background: url(/static/images/spinner.gif) left top no-repeat !important; }
#filelist .line div.parentdir { background: url(/static/images/parent.png) left top no-repeat !important; }

/* File Extensions*/
#filelist .line .file-3gp { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-afp { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-afpa { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-asp { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-aspx { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-avi { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-bat { background: url(/static/images/application.png) left top no-repeat !important; }
#filelist .line .file-bin { background: url(/static/images/application.png) left top no-repeat !important; }
#filelist .line .file-bmp { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-c { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-cfm { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-cgi { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-cmd { background: url(/static/images/application.png) left top no-repeat !important; }
#filelist .line .file-com { background: url(/static/images/application.png) left top no-repeat !important; }
#filelist .line .file-cpp { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-css { background: url(/static/images/css.png) left top no-repeat !important; }
#filelist .line .file-doc { background: url(/static/images/doc.png) left top no-repeat !important; }
#filelist .line .file-exe { background: url(/static/images/application.png) left top no-repeat !important; }
#filelist .line .file-gif { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-fla { background: url(/static/images/flash.png) left top no-repeat !important; }
#filelist .line .file-h { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-htm { background: url(/static/images/html.png) left top no-repeat !important; }
#filelist .line .file-html { background: url(/static/images/html.png) left top no-repeat !important; }
#filelist .line .file-jar { background: url(/static/images/java.png) left top no-repeat !important; }
#filelist .line .file-jpg { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-jpeg { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-js { background: url(/static/images/script.png) left top no-repeat !important; }
#filelist .line .file-lasso { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-log { background: url(/static/images/txt.png) left top no-repeat !important; }
#filelist .line .file-m4p { background: url(/static/images/music.png) left top no-repeat !important; }
#filelist .line .file-mov { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-mp3 { background: url(/static/images/play.png) left top no-repeat !important; }
#filelist .line .file-m4a { background: url(/static/images/play.png) left top no-repeat !important; }
#filelist .line .file-mp4 { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-mkv { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-m4v { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-mpg { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-mpeg { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-ogg { background: url(/static/images/play.png) left top no-repeat !important; }
#filelist .line .file-pcx { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-pdf { background: url(/static/images/pdf.png) left top no-repeat !important; }
#filelist .line .file-php { background: url(/static/images/php.png) left top no-repeat !important; }
#filelist .line .file-png { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-ppt { background: url(/static/images/ppt.png) left top no-repeat !important; }
#filelist .line .file-psd { background: url(/static/images/psd.png) left top no-repeat !important; }
#filelist .line .file-pl { background: url(/static/images/script.png) left top no-repeat !important; }
#filelist .line .file-py { background: url(/static/images/script.png) left top no-repeat !important; }
#filelist .line .file-rb { background: url(/static/images/ruby.png) left top no-repeat !important; }
#filelist .line .file-rbx { background: url(/static/images/ruby.png) left top no-repeat !important; }
#filelist .line .file-rhtml { background: url(/static/images/ruby.png) left top no-repeat !important; }
#filelist .line .file-rpm { background: url(/static/images/linux.png) left top no-repeat !important; }
#filelist .line .file-ruby { background: url(/static/images/ruby.png) left top no-repeat !important; }
#filelist .line .file-sh { background: url(/static/images/script.png) left top no-repeat !important; }
#filelist .line .file-sql { background: url(/static/images/db.png) left top no-repeat !important; }
#filelist .line .file-swf { background: url(/static/images/flash.png) left top no-repeat !important; }
#filelist .line .file-tif { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-tiff { background: url(/static/images/picture.png) left top no-repeat !important; }
#filelist .line .file-txt { background: url(/static/images/txt.png) left top no-repeat !important; }
#filelist .line .file-vb { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-wav { background: url(/static/images/music.png) left top no-repeat !important; }
#filelist .line .file-wmv { background: url(/static/images/film.png) left top no-repeat !important; }
#filelist .line .file-xls { background: url(/static/images/xls.png) left top no-repeat !important; }
#filelist .line .file-xml { background: url(/static/images/code.png) left top no-repeat !important; }
#filelist .line .file-zip { background: url(/static/images/zip.png) left top no-repeat !important; }
#filelist .line .file-tar { background: url(/static/images/zip.png) left top no-repeat !important; }
#filelist .line .file-bz2 { background: url(/static/images/zip.png) left top no-repeat !important; }


/* user list */

div.user-row {
	height:34px;
	font-size:12px;
}

div.odd {
	background:#fff;
}

div.even {
	background:#efefef;
}

div.user-header div {
	height:20px;
	float:left;
}

div.user-row div {
	height:24px;
	float:left;
}



div.user-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

div.user-header div.username {
	width:90px;
}

div.user-header div.useremail {

	width:90px;
}

div.user-header div.usergroup,

	width:90px;
}

div.user-header div.useractive,
#displayarea div.user-row div.useractive,
div.user-header div.userupload,
#displayarea div.user-row div.userupload,
div.user-header div.userdownload,
#displayarea div.user-row div.userdownload,
div.user-header div.userdelete,
#displayarea div.user-row div.userdelete {
	width:60px;
}

#displayarea div.user-row div.userdelete {
	padding-top:6px;
}









/* share list */

#displayarea div.share-row {
	height:38px;
	font-size:12px;
}

#displayarea div.odd {
	background:#fff;
}

#displayarea div.even {
	background:#efefef;
}

#displayarea div.share-row div {
	height:20px;
	float:left;
}

#displayarea div.share-row div {
	height:24px;
	float:left;
}

#displayarea div.share-row div {
	vertical-align:middle;
	padding-top:10px;
	padding-left:12px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

div.share-header div#sharename,
#displayarea div.share-row div.sharename {
	width:300px;
}

div.share-header div#publicurl,
#displayarea div.share-row div.publicurl {
	width:90px;
}

div.share-header div#directurl,
#displayarea div.share-row div.directurl {
	width:90px;
}

#displayarea div.share-row div.sharedelete {
	padding-top:6px;
}

