{% extends 'system/systemtemplate.html' %}

{% block configpage %}

<div id="configpage">

<h2>Storage</h2>

<div id="leftpanel">

<div id="header" class="storage-header">
<div class="mountpoint">Mountpoint</div>
<div class="devicename">Device</div>
<div class="devicesize">Device size</div>
<div class="filesystem">Filesystem</div>
<div class="spaceused">Space used</div>
<div class="spacefree">Space free</div>
</div><!-- header -->

<div id="displayarea">
<div id="storagelist">


</div><!-- storagelist -->
</div><!-- displayarea -->

</div><!-- leftpanel -->

<div id="rightpanel">
<div id="header">Selected Device</div>

<div id="attributes">
<div id="devicenametitle" class="panelattributename">Device:</div>
<div id="devicename" class="panelattribute">No Selection</div>

<div id="fileoptions" class="panelattributename">Options:</div>
<div id="mountlink" class="panelattribute"></div>
<div id="unmountmountlink" class="panelattribute"></div>

<div id="spacegraphtitle" class="panelattributename">Space Free:</div>
<div id="spacegraph" class="panelattribute"></div>
</div><!-- attributes -->
</div><!-- rightpanel -->
</div><!-- configpage -->
<script type="text/javascript">

var devicelist = new Array();

var isEven = function(someNumber){
    return (someNumber%2 == 0) ? true : false;
};

function store_devices() {
{% for device in devices %}
	var device = {};
    device.devicename = '{{ device.devicename }}';
    device.mountpoint = '{{ device.mountpoint|default:"Not mounted" }}';
	device.prettydevicesize = '{{ device.prettydevicesize|default:"N/A" }}';
	device.devicesize = '{{ device.devicesize }}';
	device.filesystem = '{{ device.filesystem|default:"None" }}';
	device.prettyspaceused = '{{ device.prettyspaceused|default:"N/A" }}';
	device.spaceused = '{{ device.spaceused|default:"0" }}';
	device.prettyspacefree = '{{ device.prettyspacefree|default:"N/A" }}';
	device.spacefree = '{{ device.spacefree|default:"N/A" }}';
	devicelist.push(device);
{% endfor %}
}

function generate_list() {

	var storagelist = document.getElementById('storagelist');
	$.each(devicelist, function(i,device){
		

		//new storage line	
		var storageline = document.createElement("div");
		storageline.setAttribute('class', 'device-row');
		storageline.onclick = function(){ select_line(device); $('.device-row').removeClass('highlightRow'); $(this).addClass('highlightRow'); };
		
		//create an element to hold the mountpoint
		var mountpoint = document.createElement("div");
		mountpoint.setAttribute('class', 'mountpoint');
		var text = document.createTextNode(device.mountpoint);
		mountpoint.appendChild(text);
		storageline.appendChild(mountpoint);

		//create an element to hold the device name
		var devicename = document.createElement("div");
		devicename.setAttribute('class', 'devicename');
		var text = document.createTextNode(device.devicename);
		devicename.appendChild(text);
		storageline.appendChild(devicename);
		
		//create an element to hold the devicesize
		var devicesize = document.createElement("div");
		devicesize.setAttribute('class', 'devicesize');
		var text = document.createTextNode(device.prettydevicesize);
		devicesize.appendChild(text);
		storageline.appendChild(devicesize);
		
		//create an element to hold the filesystem
		var filesystem = document.createElement("div");
		filesystem.setAttribute('class', 'filesystem');
		var text = document.createTextNode(device.filesystem);
		filesystem.appendChild(text);
		storageline.appendChild(filesystem);
		
		//create an element to hold the space free
		var spaceused = document.createElement("div");
		spaceused.setAttribute('class', 'spaceused');
		var text = document.createTextNode(device.prettyspaceused);
		spaceused.appendChild(text);
		storageline.appendChild(spaceused);
		
		//create an element to hold the space used
		var spacefree = document.createElement("div");
		spacefree.setAttribute('class', 'spacefree');
		var text = document.createTextNode(device.prettyspacefree);
		spacefree.appendChild(text);
		storageline.appendChild(spacefree);
		

		//append our new line to the file list
		storagelist.appendChild(storageline);
		
		//create a clearing element and add it to the file list to keep things from floating next to each other
		var clear = document.createElement("div");
		clear.setAttribute('id', 'clear');
		storagelist.appendChild(clear);
	});
}
function select_line(device) {
	$('#devicename').text(device.devicename);
}
store_devices();
generate_list();
</script>
{% endblock %}
