<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  	================================================== -->

	<title>PlugUI</title>

	<meta charset="utf-8">
	<meta name="description" content="">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="Arch Linux ARM">

	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<!-- CSS
  	================================================== -->

	<link rel="stylesheet" href="/static/stylesheets/base.css">
	<link rel="stylesheet" href="/static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/static/stylesheets/layout.css">
	
	<link rel="stylesheet" href="/static/stylesheets/plugui.css">	
	
	<script src="/static/javascripts/jquery-1.7.1.js"></script>
	<script src="/static/javascripts/jquery.event.drag-2.0.min.js"></script>
	<script src="/static/javascripts/jquery.filedrop.js"></script>
	<script src="/static/javascripts/jquery.sparkline.min.js"></script>
	<script src="/static/javascripts/jquery.jqplot.min.js"></script>
	<script src="/static/javascripts/jqplot.pieRenderer.js"></script>
	
	<!-- <script type="text/javascript" src="/static/javascripts/soundmanager2.js"></script> -->

	<script src="/static/javascripts/underscore-min.js"></script>
    <script src="/static/javascripts/backbone-min.js"></script>
	<script src="/static/javascripts/plugui.js"></script>
	
	
	<!-- Load all the backbone views, collections, models and the main router -->
	
	<script src="/static/app/AdminBar.js"> </script>
	<script src="/static/app/AuthView.js"> </script>
	<script src="/static/app/DashboardView.js"> </script>
	<script src="/static/app/FileItemView.js"> </script>
	<script src="/static/app/Files.js"> </script>
	<script src="/static/app/FilesView.js"> </script>
	<script src="/static/app/MediaBar.js"> </script>

	<script src="/static/app/PackagesView.js"> </script>
	<script src="/static/app/Packages.js"> </script>

	<script src="/static/app/SettingsView.js"> </script>
	<script src="/static/app/StatusView.js"> </script>
	<script src="/static/app/UploadView.js"> </script>
	<script src="/static/app/Users.js"> </script>
	<script src="/static/app/UsersView.js"> </script>

	
	<script src="/static/app/PlugUI.js"> </script>

	<!-- this is the entry point for the backbone app -->
	<script src="/static/app/main.js"></script>
	
	
	
</head>
<body>


	<div id="adminbar" class="top ui-panel">    </div>

	<div id="content_area" id="container" class="container">   </div><!-- container -->

	<!-- templates -->
	
	<script type="text/template" id="mediabar-template">
	
	</script>
	
	<script type="text/template" id="adminbar-template">

			<li class="first" id="userbutton">
				<div id="user-icon">
					<img src="/static/images/111-user.png" title="user panel"/>
				</div>
			
			</li>
			</li>
			<li id="dashboard-button" class="adminbutton">
				<a href="/#/dashboard">
					<span id="dashboard-icon">
						<img src="/static/images/81-dashboard.png" title="dashboard"/>
					</span>
				</a>
			</li>
			<li id="files-button" class="adminbutton">
				<a href="/#/files">
					<span id="files-icon">
						<img src="/static/images/33-cabinet.png" title="files"/>
					</span>
				</a>
			</li>
			<li id="packages-button" class="adminbutton">
				<a href="/#/packages">
					<span id="packages-icon">
						<img src="/static/images/24-gift.png" title="packages"/>
					</span>
				</a>
			</li>
			<li id="settings-button" class="adminbutton">
				<a href="/#/settings">
					<span id="settings-icon">
						<img src="/static/images/19-gear.png" title="settings"/>
					</span>
				</a>
			</li>

			<li class="last"></li>

			<li id="controlbutton-before"></li>
			<li id="controlbutton">
				<a>
					<span id="music-icon">
						<img src="/static/images/65-note.png" title="music controls"/>
					</span>
				</a>
			</li>
			
	</script>
    
	
	<script type="text/template" id="files-template">
		<div class="two-thirds column statusbox">
			<div id="displayarea">
				<table id="filelist"></table>
			</div><!-- displayarea -->
	

		</div>

		<div id="rightpanel" class="one-third column statusbox">
		
	

		</div>

    </script>
	
	<script type="text/template" id="status-template">
		<h5>Status</h5>
		<div class="etch"></div>
		<div class="stat-list">Load:<span class="value" id="loadfield"><%= loadavg %></span></div>
		<div class="stat-list">RAM used:<span class="value" id="memused"><%= memused %></span></div>
	
	</script>
	
	<script type="text/template" id="user-template">
		<h5>Users</h5>
		<div class="etch"></div>
		<ul id="userlist">

		</ul>
	</script>
	
	<!-- 
	
		<div class="one-third column statusbox">
		<h5>Storage</h5>
		<div class="etch"></div>
		<div>No drives connected</div>
		</div>
		
		-->
		
	<script type="text/template" id="packages-template">
		<div class="two-thirds column statusbox">
			<h5 style="display:inline-block;">Packages</h5>
			<div id="package-controls">
				<span id="previous-button">⬇</span>
				<span id="current-index"></span>
				<span id="next-button">⬆</span>
			</div>
			<div class="etch"></div>
			<ul id="package-list"></ul>
		</div>
		<div class="one-third column statusbox">
			<h5>Status</h5>
			<div class="etch"></div>
			<div>Total: <span id="number-all-packages"></span></div>
			<div>Installed: <span id="number-installed-packages"></span></div>
			<div>Updates: <span id="number-updates-available"></span></div>
			
		</div>
	</script>
	<script type="text/template" id="settings-template">
		<div class="two-thirds column statusbox">
			<h5>Global Settings</h5>
			<div class="etch"></div>
			<span id="settingserror"></span>
		</div>

	</script>

	<script type="text/template" id="adduser-template"> 

 

		<div class="whitebox text-entry-box"><input class="selectable" placeholder="Username" type="text" name="username" id="usernamefield" /></div>
		<div class="whitebox text-entry-box"><input class="selectable" placeholder="Password" type="password" name="password" id="passwordfield" /></div>

		
	</script>
	
	<!-- onload -->
	
	<script type="text/javascript">
        $(document).ready(function(){
			$("#overlay").css("height", $(document).height()); 
			$(window).bind("resize", function(){  
				$("#overlay").css("height", $(window).height());  
			}); 

        });
	</script>
</body>
</html>
