<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  	================================================== -->

	<title>PlugUI</title>

	<meta charset="utf-8">
	<meta name="description" content="">
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="Arch Linux ARM">

	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<!-- CSS
  	================================================== -->

	<link rel="stylesheet" href="/static/stylesheets/base.css">
	<link rel="stylesheet" href="/static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/static/stylesheets/layout.css">
	
	<link rel="stylesheet" href="/static/stylesheets/plugui.css">	
	
	<script src="/static/javascripts/jquery-1.7.1.js"></script>
	<script src="/static/javascripts/jquery.event.drag-2.0.min.js"></script>
	<script src="/static/javascripts/jquery.filedrop.js"></script>
	<script src="/static/javascripts/jquery.sparkline.min.js"></script>
	<script src="/static/javascripts/jquery.jqplot.min.js"></script>
	<script src="/static/javascripts/jqplot.pieRenderer.js"></script>
	
	<script src="/static/javascripts/jquery.jplayer.min.js"></script> 
	<!-- <script type="text/javascript" src="/static/javascripts/soundmanager2.js"></script> -->

	<script src="/static/javascripts/underscore-min.js"></script>
    <script src="/static/javascripts/backbone-min.js"></script>
	<script src="/static/javascripts/plugui.js"></script>
	
	<script src="/static/javascripts/main.js"></script>
	
	
</head>
<body>


	<div id="adminbar" class="top ui-panel">    </div>

	<div id="content_area" id="container" class="container">   </div><!-- container -->


	<div id="notificationbar" class="bottom ui-panel">    </div>


	<!-- templates -->
	
	<script type="text/template" id="mediabar-template">
	
	</script>
	
	<script type="text/template" id="notificationbar-template">

			<li id="userbutton-before"></li>
			<li id="userbutton">
				<div id="user-icon">
					<img src="/static/images/111-user.png" title="user panel"/>
				</div>
			
			</li>
					
	</script>
	
	<script type="text/template" id="adminbar-template">

			<li class="first" id="logo">
				<a style="padding-top:12px; display:block; text-decoration:none;" href="javascript:" onClick="window.open('http://github.com/archlinuxarm/plugui');">PlugUI</a>
			</li>
			<li id="dashboard-button" class="adminbutton">
				<a href="/#/dashboard">
					<span id="dashboard-icon">
						<img src="/static/images/81-dashboard.png" title="dashboard"/>
					</span>
				</a>
			</li>
			<li id="files-button" class="adminbutton">
				<a href="/#/files">
					<span id="files-icon">
						<img src="/static/images/33-cabinet.png" title="files"/>
					</span>
				</a>
			</li>
			<li id="packages-button" class="adminbutton">
				<a href="/#/packages">
					<span id="packages-icon">
						<img src="/static/images/24-gift.png" title="packages"/>
					</span>
				</a>
			</li>
			<li id="settings-button" class="adminbutton">
				<a href="/#/settings">
					<span id="settings-icon">
						<img src="/static/images/19-gear.png" title="settings"/>
					</span>
				</a>
			</li>

			<li class="last"></li>

			<li id="controlbutton-before"></li>
			<li id="controlbutton">
				<a>
					<span id="music-icon">
						<img src="/static/images/65-note.png" title="music controls"/>
					</span>
				</a>
			</li>
			
	</script>
    
	
	<script type="text/template" id="files-template">
		<div class="two-thirds column statusbox">
			<div id="displayarea">
				<table id="filelist"></table>
			</div><!-- displayarea -->
	

		</div>

		<div id="rightpanel" class="one-third column statusbox">
		
	

		</div>

    </script>
	
	<script type="text/template" id="status-template">
		<h5>Status</h5>
		<div class="etch"></div>
		<div class="stat-list">Load:<span class="value" id="loadfield"><%= loadavg %></span></div>
		<div class="stat-list">RAM used:<span class="value" id="memused"><%= memused %></span></div>
	
	</script>
	<script type="text/template" id="dashboard-template">


		<div class="one-third column statusbox">
			<h5>Packages</h5>
			<div class="etch"></div>
			<div id="package-notification">Checking</div>
		</div>



	</script>
	
	<script type="text/template" id="user-template">
		<h5>Users</h5>
		<div class="etch"></div>
		<ul id="userlist">
			<% _.each(userlist, function(i) { %>  
				<li><%= i.username %></li> 
			<% }); 
			%>
		</ul>
		<div class=""><a href="javascript:" onclick="add_user();">Add user</a></div>
	
	</script>
	
	<!-- 
	
		<div class="one-third column statusbox">
		<h5>Storage</h5>
		<div class="etch"></div>
		<div>No drives connected</div>
		</div>
		
		-->
		
	<script type="text/template" id="packages-template">


	</script>
	<script type="text/template" id="settings-template">
		<div class="eight columns statusbox">
			<h5>Global Settings</h5>
			<div class="etch"></div>
			<span id="settingserror"></span>
		</div>

	</script>

<!--

<div id="overlay">  
			<div class="msgbox">  
			<strong>Create user</strong>	
			<div class="whitebox text-entry-box"><input placeholder="Username" type="text" name="username" id="usernamefield" /></div>
			<div class="whitebox text-entry-box"><input placeholder="Email" type="text" name="email" id="emailfield" /></div>
			<div class="whitebox text-entry-box"><input placeholder="Password" type="password" name="password" id="passwordfield" /></div>
			<div class="whitebox text-entry-box"><input placeholder="Repeat password" type="password" name="password2" id="password2field" /></div>

			<div>
				<strong>Is admin?</strong>
				<select id="adminfield" name="admin">
					<option value="1" selected="selected">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
			<div id="buttons">
				<button type="button" name="create" onclick="createUser();">Create</button>
				<button style="float:right;" type="button" name="cancel" onclick="$('#overlay').fadeOut();">Cancel</button>
			</div> 
			<div id="usererror"></div>
	
	
			</div>  
		</div> 
		
-->
	
	<!-- onload -->
	
	<script type="text/javascript">
        $(document).ready(function(){
			//plugui_init();
			//setFileDropbox();
			//getTree(directory);
			//get_users();
			$("#overlay").css("height", $(document).height()); 
			$(window).bind("resize", function(){  
				$("#overlay").css("height", $(window).height());  
			}); 

        });
	</script>
</body>
</html>
