{% extends 'system/systemtemplate.html' %}

{% block configpage %}
<div id="configpage">

	<div id="leftpanel">
<div class="boxheader">
<div>Network Configuration</div>
</div><!-- header -->
<div id="displayarea">

</div><!-- displayarea -->
</div><!-- leftpanel -->

<div id="rightpanel">
<div class="boxheader">
<div>Status</div>
</div><!-- header -->
<div id="attributes">
<div id="filenametitle" class="panelattributename">Local IP Address:</div>
<div id="ip" class="panelattribute">{{ localip }}</div>
<div id="filenametitle" class="panelattributename">Public IP Address:</div>
<div id="ip" class="panelattribute">{{ publicip }}</div>
</div><!-- attributes -->
</div><!-- configpage -->
</div><!-- page_body_section -->
