<div class="page_body_section">
<script type="text/javascript">

hideloader();
$(document).ready(function(){
	$("form#runcommand").submit(function() {  
		$('#error').empty();
		$('#terminal').empty();
		var runcommand = $('#commandbox').attr('value');
		if (runcommand == "") {  
			$('#error').text(' Command box cannot be empty');
			$("input#commandbox").focus();  
			return false;  
		} 
		$('#runloader').show();
		$.ajax({
			type: "POST",
			url: "/systemapi",
			data: { command: runcommand, apicmd: "execute" },
			dataType : 'json',
			statusCode: {
				500: function() {
					$('#terminal').text("Server Error");
					$('#commandbox').val('');
				}	
			},
			success: function(json){
				var result = json;
				if (result.success == true) {
					$('#runloader').hide();
					$.each(result.output, function(i,line){
						$('#terminal').append(line + "<br/>");
					}); 
				}
				else {
					$('#runloader').hide();
					$('#terminal').text("Command failed"); 
				} 
				$('#commandbox').val(''); 
			}
		});
		return false;
	});
});
</script>
<div id="configpage">
<h2>Shell</h2>

<div id="leftpanel">
<div id="header">
<div>Shell</div>
</div><!-- header -->
<div id="displayarea">
<img id="runloader" style="display:none;" src="/static/images/loader.gif"/>

<form id="runcommand" method="POST">
	<input type="text" name="command" id="commandbox"/>
	<br/><br/>
	<label for="commandbox" id="error"></label>
</form>
<br/>

<br/>
<div id="terminal"></div><!-- terminal -->
</div><!-- displayarea -->
</div><!-- leftpanel -->

</div><!-- configpage -->
</div><!-- page_body_section -->
