<div class="page_body_section">
<div id="configpage">



	
<div id="leftpanel">

<div class="boxheader">
<div>Storage</div>
</div><!-- header -->

<div id="displayarea">
<div class="device-row">
	<div class="mountpoint"><strong>Mountpoint</strong></div>
	<div class="devicename"><strong>Device</strong></div>

	<div class="filesystem"><strong>Filesystem</strong></div>
	<div class="spaceused"><strong>Space used</strong></div>
	<div class="spacefree"><strong>Space free</strong></div>
</div>
	<div id="clear"></div><!-- clear -->
	<hr/>
<div id="storagelist">


</div><!-- storagelist -->
</div><!-- displayarea -->

</div><!-- leftpanel -->

<div id="rightpanel">
<div class="boxheader">Selected Device</div>

<div id="attributes">
<div id="devicenametitle" class="panelattributename">Device:</div>
<div id="devicename" class="panelattribute">No Selection</div>

<div id="fileoptions" class="panelattributename">Options:</div>
<div id="mountlink" class="panelattribute"></div>
<div id="unmountmountlink" class="panelattribute"></div>

<div id="spacegraphtitle" class="panelattributename">Space Free:</div>
<div id="spacegraph" class="panelattribute"></div>
</div><!-- attributes -->
</div><!-- rightpanel -->
</div><!-- configpage -->
<script type="text/javascript">

var devicelist = new Array();

var isEven = function(someNumber){
    return (someNumber%2 == 0) ? true : false;
};

function store_devices() {
{% for device in devices %}
	var device = {};
    device.devicename = '{{ device.devicename }}';
    device.mountpoint = '{{ device.mountpoint|default:"Not mounted" }}';
	device.prettydevicesize = '{{ device.prettydevicesize|default:"N/A" }}';

	device.filesystem = '{{ device.filesystem|default:"None" }}';
	device.prettyspaceused = '{{ device.prettyspaceused|default:"N/A" }}';
	device.spaceused = '{{ device.spaceused|default:"0" }}';
	device.prettyspacefree = '{{ device.prettyspacefree|default:"N/A" }}';
	device.spacefree = '{{ device.spacefree|default:"N/A" }}';
	devicelist.push(device);
{% endfor %}
}
store_devices();
generate_list();
</script>
</div><!-- page_body_section -->
