<div class="page_body_section">
<div id="configpage">
<div id="leftpanel">
<div id="header" class="fileheader">
<img id="loader" src="/static/images/loader.gif"/>
<div id="icon"></div>
<div id="name">Name</div><!-- name -->
<div id="type">Type</div><!-- type -->
<div id="size">Size</div><!-- size -->
<div id="date">Date</div><!-- date -->
</div><!-- header -->
<div id="displayarea">
<div id="filelist">
</div><!-- filelist -->
</div><!-- displayarea -->
</div><!-- leftpanel -->

<div id="rightpanel">
<div id="header">Selected item</div>
<div id="attributes">

<div id="filenametitle" class="panelattributename">Selected Item:</div>
<div id="filename" class="panelattribute">none </div>

<div id="filetypetitle" class="panelattributename">Type:</div>
<div id="filetype" class="panelattribute">none </div>

<div id="filesizetitle" class="panelattributename">Size:</div>
<div id="filesize" class="panelattribute">none </div>

<div id="filedatetitle" class="panelattributename">Modified:</div>
<div id="filedate" class="panelattribute">none </div>

<div id="fileoptions" class="panelattributename">Options:</div>
<div id="downloadlink" class="panelattribute"></div>
<div id="sharelink" class="panelattribute"></div>
<div id="viewlink" class="panelattribute"></div>

</div>
</div><!-- rightpanel -->

<div><!-- configpage -->
<script type="text/javascript">
		
getTree(directory);
</script>
</div><!-- page_body_section -->
