<div class="one-third column statusbox">
		<h5>Status</h5>
		<div class="etch"></div>
		<div class="stat-list">CPU usage:<span class="value" id="loadfield"></span></div>
        <div class="stat-list">RAM used:<span class="value" id="memused"></span></div>
</div>

<div class="one-third column statusbox">
		<h5>Packages</h5>
		<div class="etch"></div>
		<div>No upgrades available</div>
</div>

<div class="one-third column statusbox">
		<h5>Storage</h5>
		<div class="etch"></div>
		<div>No drives connected</div>
</div>



