<div class="two-thirds column statusbox">
	<div id="displayarea">
		<div class="line">
			<div class="icon"><img id="loader" src="/static/images/loader.gif"/></div>
			<div class="name"><span id="currentpath"></span></div><!-- name -->
		</div>
		<div id="clear"></div><!-- clear -->
		<div class="etch"></div>
		<div id="filelist"></div><!-- filelist -->
	</div><!-- displayarea -->


</div>

<div id="rightpanel" class="one-third column statusbox">

	<div id="attributes">

		<div id="filetypetitle" class="panelattributename stat-list">
		Type:
		<span id="filetype" class="panelattribute">none </span>
		</div>
		
		
		<div id="filesizetitle" class="panelattributename stat-list">
		Size:
		<span id="filesize" class="panelattribute">none </span>
		</div>
		
		
		<div id="filedatetitle" class="panelattributename stat-list">
		Modified:
		<span id="filedate" class="panelattribute">none </span>
		</div>
		


	</div>

</div>

<script type="text/javascript">

getTree(directory);
</script>
