<div id="homepage">

<div id="widget">
<div class="boxheader">
<div>Welcome</div>
</div><!-- header -->
<div id="displayarea">
Welcome to PlugUI!
</div><!-- displayarea -->
</div><!-- widget -->

<div id="widget">
<div class="boxheader">
<div>Notifications</div>
</div><!-- header -->
<div id="displayarea">
{% if updatesavailable %}
Software updates available: {{ updatecount }} 
<a href="#" onclick="get_page('software');"> - <b>Update now</b></a>
{% else %}
No software updates available.
{% endif %}
</div><!-- displayarea -->
</div><!-- widget -->

<div id="clear"></div>
</div><!-- homepage -->
