<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin:0;padding:0;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{% block title %}PlugUI{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.gif" type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.css" />
	<link rel="stylesheet" href="/static/formalize.css" />
	<link href="/static/skins/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/static/jquery-1.5.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.jqplot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery.formalize.js"></script>
	<script language="javascript" type="text/javascript" src="/static/jquery.jplayer.min.js"></script> 
	<script language="javascript" type="text/javascript" src="/static/plugui.js"></script>
  </head>

<body style="margin:0;padding:0;">
<div class="jp-audio">
		<div class="jp-type-single">
			<div id="jp_interface_1" class="jp-interface">
				<ul class="jp-controls">
					<li><a href="javascript:" class="jp-play" tabindex="1">play</a></li>
					<li><a href="javascript:" class="jp-pause" tabindex="1">pause</a></li>
					<li><a href="javascript:" class="jp-stop" tabindex="1">stop</a></li>
					<div id="current-track"></div>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-current-time">00:00</div>
					<div class="jp-duration">00:00</div>
				</ul>
			</div>
		</div>
	</div>
<script type="text/javascript">
var directory = '';
var currentpath = '';
{% if request.user.is_authenticated %}
get_page("home");
{% else %}
get_page("login");
{% endif %}
</script>
<div id="wrapper">
<div id="main">


<div id="header">
<img id="logo" src="/static/images/alarm.png"/>

<span id="login">
{% if request.user.is_authenticated %}
    Welcome {{ request.user.username }} - <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}
</span><!-- login -->
</div><!-- header -->

<div id="content">
<div id="plugmenu">
<ul>


<li class="plug-menu">
<div id="plug-menu-icon"></div>
<a href="javascript:" onclick="get_page('home');">Home</a>
</li>

<li class="plug-menu-sep"></li>

<li class="plug-menu">
<div id="plug-menu-icon"></div>
<a href="javascript:" onclick="get_page('browse');">Files</a>
</li>

<ul class="plug-submenu">
<li><a href="javascript:" onclick="get_page('browse');">Browse</a></li>
<li><a href="javascript:" onclick="get_page('shares');">Shares</a></li>
</ul>

<li class="plug-menu-sep"></li>

<!--<li class="plug-menu">
<div id="plug-menu-icon"></div>
<a href="javascript:">Apps</a>
</li>

<ul class="plug-submenu">
<li><a href="javascript:" onclick="get_page('samba');">Samba</a></li>
<li><a href="javascript:" onclick="get_page('minidlna');">Minidlna</a></li>
</ul>
<li class="plug-menu-sep"></li>-->

<li class="plug-menu">
<div id="plug-menu-icon"></div>
<a href="javascript:" onclick="get_page('system');">System</a>
</li>
<ul class="plug-submenu">
<li><a href="javascript:" onclick="get_page('storage');">Storage</a></li>
<li><a href="javascript:" onclick="get_page('software');">Software</a></li>
<li><a href="javascript:" onclick="get_page('advanced');">Advanced</a></li>
<li><a href="javascript:" onclick="get_page('shell');">Shell</a></li>
<li><a href="javascript:" onclick="get_page('reboot');">Reboot</a></li>
</ul>
<li class="plug-menu-sep"></li>

<li class="plug-menu">
<div id="plug-menu-icon"></div>
<a href="javascript:" onclick="get_page('user_list');">Users</a>
</li>
<ul class="plug-submenu">
<li><a href="javascript:" onclick="get_page('create_user');">Create New User</a></li>
<li><a href="javascript:" onclick="get_page('change_password');">Change Password</a></li>
</ul>



</ul>
</div><!-- plugmenu -->


<div id="page_body">

{% block content %}{% endblock %}

</div><!-- page_body -->
</div><!-- content -->

</div><!-- main -->
</div><!-- wrapper -->

<div  id="footer">
<ul>
<li><a href="/">Home</a></li>
<li><a href="http://plugapps.com/plugapps-linux/">PlugApps Linux</a></li>
<li><a href="http://plugapps.com/category/news/">News</a></li>
<li><a href="http://plugapps.com/forum/">Forum</a></li>
<li><a href="http://plugapps.com/wiki/">Wiki</a></li>
<li><a href="http://plugapps.com/plugui-api">PlugUI API</a></li>
<li><a href="http://plugapps.com/credits">Credits</a></li>
<li><a href="http://plugapps.com/legal">Legal</a></li>
</ul>         
<div id="clear"></div>
</div>
<div id="player" style="height:0;width:0;"></div>
</body> 


</html>
