{% extends 'users/userstemplate.html' %}
{% block title %}Create New User{% endblock %}

{% block userpage %}
<div id="configpage">
<h2>Create new user</h2>


  <form action="" method="post">
{% csrf_token %}

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
</tr>

<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
</tr>
</table>
      <input type="submit" value="Create">
  </form>
</div><!-- configpage -->
{% endblock %}
