<div class="page_body_section">
<div id="configpage">

	<div id="leftpanel">
<div class="boxheader">
<div>User List</div>
</div><!-- header -->
<div id="displayarea">
	
	<div class="user-row">
		<div class="username"><strong>Name</strong></div>
		<div class="useremail"><strong>Email</strong></div>
		<div class="usergroup"><strong>Group</strong></div>
		<div class="useractive"><strong>Active</strong></div>
		<div class="userupload"><strong>Upload</strong></div>
		<div class="userdownload"><strong>Download</strong></div>
	</div>
	<hr/>

{% for user in user_list %}
<div class="user-row {% cycle 'odd' 'even' %}">
<div class="username">{{ user.username }}</div><!-- username -->
<div class="useremail">{{ user.email }}</div><!-- useremail -->
<div class="usergroup">{{ user.group }}</div><!-- usergroup -->
<div class="useractive">{{ user.is_active }}</div><!-- useractive -->
<div class="userupload">Yes</div><!-- userupload -->
<div class="userdownload">Yes</div><!-- userdownload -->
<div class="userdelete">
<form action="/users/delete" method="post">
	  {% csrf_token %}
	  <input type="hidden" name="name" value="{{ user.username }}"/>
      <input type="submit" value="Delete">
</form>
</div><!-- userdelete -->

</div><!-- userrow -->
<div id="clear"></div><!-- clear -->
{% endfor %}


</div><!-- displayarea -->
</div><!-- leftpanel -->




</div><!-- configpage -->
</div><!-- page_body_section -->
